@import '../../sass/styles.scss';

.wrapper {
    margin-top: 0rem;
}

.font-color-footer {
    color: $grayish-blue;
    font-size: 0.9rem;
}

.mainFooter {
    background-color: $very-dark-black-blue;
    color: $white;
    border-top-right-radius: 6rem;

    .footer__split {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    @media (min-width:768px) {

        .mainFooter {
            margin-top: 8rem;
        }

        .footer__split {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

@media (min-width:768px) {
    .wrapper {
        margin-top: 18rem;
    }
}
